nav {
    color: white;
    padding: 0 !important;
}

h1 {
    font-size: 70px;
}

.home-container {
    background-color: black;
    height: 450px;
}

.navbar-btn {
    height: 35px;
    width: 35px;
}

.navbar-btn ion-icon {
    font-size: 25px;
}

.navbar-menu {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background-color: black;
    transition: all 0.3s;
}

.navbar-menu-show {
    transform: translateX(-200px);
}

.navbar-logo {
    width: 118px;
    height: 64px;
}

.navbar-globe-icon {
    font-size: 25px;
}

.dropdown-menu {
    left: -82px !important;
}

.navbar-dropdown-icons {
    color: #696969;
}

.navbar-dropdown-icons ion-icon:first-of-type {
    font-size: 25px;
}

.navbar-dropdown-icons ion-icon:last-of-type {
    font-size: 35px;
}

.search span {
    font-size: 13px;
    font-weight: bolder;
}

.search-btn ion-icon {
    font-size: 20px;
}

.search-btn {
    height: 50px;
    width: 100%;
    background-color: #E41D56;
}

.title {
    position: absolute;
    top: 70%;
    left: 5%;
}

.banner-img {
    height: 80px;
    width: 80px;
}

@media only screen and (min-width: 768px) {
    .search {
        min-width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        padding: 0 60px 0 60px !important;
    }

    h1 {
        font-size: 80px;
        width: 100px;
    }

    .home-container {
        background-image: url(../assets/home.jpg);
        background-position: center;
        background-size: cover;
        height: 800px;
    }

    .navbar-menu {
        position: static;
        width: auto;
        height: auto;
    }

    .search {
        max-width: 1050px;
    }

    .search-btn {
        width: 50px;
        border-radius: 50% !important;
    }

    .title {
        top: 65%;
    }
}

@media only screen and (min-width: 1440px) {
    nav {
        padding: 0 100px 0 100px !important;
    }

    .title {
        top: 45%;
    }
}